@import '../../styles/variables.scss';

.root {
	display: flex;
	align-items: flex-start;

	h1 {
		color: $black;
	}

	svg {
		max-height: 54px;
		margin-top: 5px;
		margin-right: 3px;
	}
}

:global(.dark-mode) .root {
	h1 {
		color: #e4ebf2;
	}

	span {
		color: $grey-dark;
	}
}
