@import '../../styles/variables.scss';

.rect {
	fill: #ccc;
	transition: all 0.2s ease;

	&.active {
		fill: $link;
	}
}

:global(.dark-mode) .rect {
	fill: #495c70;

	&.active {
		fill: $off-white-dark;
	}
}
