@import '../../styles/variables.scss';

.rect {
	stroke: #ccc;
	transition: stroke 0.2s ease;

	@include breakpoint-md {
		stroke-width: 0;
	}
}

:global(.dark-mode) .rect {
	stroke: $off-white-dark;
}
