@import '../../styles/variables.scss';

.primary {
	padding: 6px 12px;
	font-size: $font-size-medium-body;
	font-weight: bold;
	line-height: $line-height-medium-body;
	color: $black;
	background-color: $off-white;
	border: 1px solid $light-gray-one;
	border-radius: 4px;
}

.dark {
	color: $white;
	background-color: $dark-purple;
}
