@import '../../styles/variables.scss';

.root {
	overflow: auto;

	code {
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
		font-size: $font-size-small-body;
		line-height: $line-height-small-body;
	}
}
