@import '../../styles/variables.scss';

.root {
	position: relative;
	width: 100%;

	&.stretch {
		height: 100%;
		padding-bottom: 0 !important;
	}

	&.rounded {
		border-radius: 50%;
	}

	canvas {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.rounded canvas {
		border-radius: 50%;
	}
}

.image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	font-family: 'object-fit: cover; object-position: center;', sans-serif;
	object-fit: cover;
	object-position: center;
}

.placeholder {
	composes: image;
	transition: opacity 0.2s linear 0.2s;
}

.normal {
	composes: image;
	transition: opacity 0.2s linear;
}
