@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope/Manrope-Regular.woff2') format('woff2'),
		url('/fonts/Manrope/Manrope-Regular.woff') format('woff');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope/Manrope-Medium.woff2') format('woff2'),
		url('/fonts/Manrope/Manrope-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope/Manrope-SemiBold.woff2') format('woff2'),
		url('/fonts/Manrope/Manrope-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Manrope';
	src: url('/fonts/Manrope/Manrope-Bold.woff2') format('woff2'), url('/fonts/Manrope/Manrope-Bold.woff') format('woff');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}
