@import 'reset';
@import 'font';
@import 'variables';
@import 'nprogress';
@import 'prism';

html,
body {
	padding: 0;
	margin: 0;
	font-family: Manrope, Arial, Helvetica Neue, Helvetica, sans-serif;

	/* https://gist.github.com/hsleonis/55712b0eafc9b25f1944 */
	font-size: 100%;
	text-shadow: rgba($black, 0.01) 0 0 1px;
	font-variant-ligatures: none;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	transition: background 0.2s ease;

	&.light-mode {
		background: $off-white;
	}

	&.dark-mode {
		background: $darker-black;
	}
}

* {
	box-sizing: border-box;
}

hr {
	height: 1px;
	margin: 16px 0;
	background: $light-grey;
	border: none;
	transition: background 0.2s ease;
}

.dark-mode {
	hr {
		background: $darker-grey;
	}
}

.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 0.2s ease;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.preload,
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
}
