/* Make clicks pass-through */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	position: fixed;
	top: 2px;
	left: 0;
	z-index: 1031;
	width: 100%;
	height: 2px;
	background: $link;
	border-radius: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
	position: absolute;
	right: 0;
	display: block;
	width: 100px;
	height: 100%;
	opacity: 1;
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 1031;
	display: block;
}

#nprogress .spinner-icon {
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	border: solid 2px transparent;
	border-top-color: $link;
	border-left-color: $link;
	border-radius: 50%;
	animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
	position: relative;
	overflow: hidden;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
	position: absolute;
}

@keyframes nprogress-spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
