$white: #fff;
$off-white: #fafafa;

$gray: #8f8f8f;
$dar-gray: #2f303a;
$light-gray-one: #e5e5e5;
$light-gray-two: #ebebeb;
$light-gray-three: #ccc;

$black: #000;

$blue: #4c66d5;
$light-blue: #e7ecff;

$orange: #d5824c;
$light-orange: #fff0e7;

$dark-purple: #363743;
$light-purple: #4f5263;

$font-size-h1: 52px;
$line-height-h1: 64px;

$font-size-small-body: 14px;
$line-height-small-body: 20px;

$font-size-regular-body: 14px;
$line-height-regular-body: 24px;

$font-size-medium-body: 16px;
$line-height-medium-body: 24px;

$font-size-large-body: 16px;
$line-height-large-body: 28px;

$font-size-footer: 13px;
$line-height-footer: 24px;

$font-size-superscript: 12px;
$line-height-superscript: 24px;
