$white: #fff;
$off-white: #fafafa;

$grey: #9698a3;
$light-grey: #ebebeb;
$dark-grey: #3d3f47;
$darker-grey: #33353d;

$black: #000;
$dark-black: #222329;
$darker-black: #101114;

$link: #4c66d5;
$link-dark: #7083ff;
$link-hover: #7683e2;

$red: #e15151;
$green: #3ea161;
$green-hover: #69b985;

$font-size-h1: 52px;
$line-height-h1: 64px;

$font-size-small-body: 14px;
$line-height-small-body: 20px;

$font-size-regular-body: 14px;
$line-height-regular-body: 24px;

$font-size-medium-body: 16px;
$line-height-medium-body: 24px;

$font-size-large-body: 16px;
$line-height-large-body: 28px;

$font-size-footer: 13px;
$line-height-footer: 24px;

$font-size-superscript: 12px;
$line-height-superscript: 24px;

$font-size-title: 15px;
$line-height-title: 24px;

$font-size-large-title: 18px;
$line-height-large-title: 24px;
