@import '../../styles/variables.scss';

.root {
	width: 100%;
	max-width: 350px;
}

.firstParagraph {
	margin-top: 8px;
	letter-spacing: 0.2px;
}

.secondParagraph {
	margin-top: 16px;
	margin-bottom: 60px;
	letter-spacing: 0.2px;
}

:global(.dark-mode) .firstParagraph,
:global(.dark-mode) .secondParagraph {
	color: $white-dark;
}

.peopleButton {
	padding: 0;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	color: $grey;
	text-decoration: underline;
	cursor: pointer;
	background: transparent;
	outline: none;
}

.footer {
	letter-spacing: 0.2px;

	button,
	a {
		color: #424347;
		text-decoration: none;
		transition: all 0.2s ease;

		&:hover {
			color: $link;
		}
	}
}

:global(.dark-mode) .footer {
	button,
	a {
		color: $white-dark;

		&:hover {
			color: $off-white-dark;
		}
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	background-color: rgba($light-grey, 0.64);
}

:global(.dark-mode) .overlay {
	background-color: rgba($black, 0.8);
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	max-width: 730px;
	height: 100%;
	max-height: 568px;
	padding: 0;
	overflow: auto;
	background: $white;
	border: none;
	border-radius: 8px;
	outline: none;
	box-shadow: 0 2px 4px rgba($black, 0.12);
	transform: translate(-50%, -50%);
	-webkit-overflow-scrolling: touch;
}

:global(.dark-mode) .content {
	background: $dark-black;
}

.modalContainer {
	max-width: 572px;
	padding: 0 16px;
	margin: 0 auto;
}

.modalHeader {
	padding-top: 48px;
	text-align: center;
}

.logo {
	height: 96px;
	margin-bottom: 16px;
}

.title {
	margin-bottom: 4px;
}

.subTitle {
	margin-bottom: 24px;
}

.hr {
	padding: 0;
	margin: 0;
}

.people {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 8px auto 32px;
}

.person {
	display: flex;
	width: calc(50% - 15px);
	margin-top: 24px;
}

.personAvatar {
	width: 56px;
	margin-right: 16px;
}

.personTwitter {
	color: #55acee;
	text-decoration: none;

	&:hover {
		color: $link;
	}

	p {
		display: flex;
		align-items: center;
		color: #55acee;

		&:hover {
			color: darken(#55acee, 15);
		}
	}

	svg {
		margin-right: 2px;
	}
}

:global(.dark-mode) .personTwitter p {
	color: #55acee;

	&:hover {
		color: $off-white-dark;
	}
}

.modalFooter {
	padding-bottom: 48px;
	margin-top: 12px;
	text-align: center;
}
